@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet");
*{
  font-family: "Oswald", sans-serif;
}

#box-model-puzzle > p {
  background-color: purple;
}
#challenge-1{
  padding:50px;
}

.challenge-2{
  padding: 10px;
  width:200px;
  height: auto;
  display: inline-block;
  vertical-align: top;

}
#challenge-4{
  padding:10px;
  border-bottom: 20px solid purple;
}


#challenge-5{
  padding: 10px;
  margin: 100px 200px;
  border: 10px solid purple;
  text-align: center;

}

#challenge-6{
  padding: 10px;
  border-right: 20px solid #60099;
  text-align right;
  text-transform: uppercase;
  text-decoration: overline;
  font-style: italic;


}



#box-static {
	color: white;
	background-color: crimson;
	position: static; /* Default value for position */
}
