body {




	font: 14px "Palatino Linotype", serif;
	text-align: center;
	}
  h1 {
    margin: 150px 5px 0 0;
  	font-size: 34px;
  	line-height: 1.2;
  	margin-bottom: 10px;
    font-weight: normal;
  	}
  h2 {
	color: grey;
	font-size: 18px;

	font-style: italic;
	margin-bottom: 30px;
  font-weight: normal;
	}
  p {
  	line-height: 0.6;
  	margin-bottom: 15px;
  	}
